body {
  margin: 0;
  padding: 0;
  background-image: url('https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg');
}

.landing-image {
    background-image: url('assets/heic0406a.jpg') !important;
    background-size: cover !important;
}

#floating-div {
  height: 500px;
  margin-top: 100px;
  margin-left: 50px;
  /* margin-right: 50px; */
}

.display-div {
  height: 800px;
  background: rgb(256, 256, 256);
  opacity: 0.9;
  padding: 10px;
  border-radius: 0.5%;
}
.center-div
{
     margin: 0 auto;
     width: 100px;
}

.main {
  margin-top: 100px;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 100px;
}

#gameArea {
  margin-top: 20px;
  margin-left: 10px;
  /* position: absolute; */
  /* left:     100%;
  top:      100%; */
}

#gameArea1 {
  padding-left: 75px;
  padding-top: 35px;

}

#gameArea2 {

}

#gameArea3 {

}

#gameArea4 {

}

.game-start-button {
  padding-top: 20px;
}

.score-display {
  padding-left: 20px;
}
