body {
  margin: 0;
  padding: 0;
  background-image: url('https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg');
}

.landing-image {
    background-image: url('assets/heic0406a.jpg') !important;
    background-size: cover !important;
}

#floating-div {
  height: 500px;
  margin-top: 100px;
  margin-left: 50px;
}

.display-div {
  height: 800px;
  background: rgb(256, 256, 256);
  opacity: 0.3;
  padding: 10px;
  border-radius: 0.5%;
}
.center-div
{
     margin: 0 auto;
     width: 100px;
}

.main {
  margin-top: 100px;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 100px;
}

#game-container {
  position: fixed;
  width: 28%;
  height: 48%;
}

#gameArea1 {
  padding-left: 6%;

}

.game-button-container {
  padding-top: 20px;
}

.score-display {
  position: fixed;
  float: right;
  right: 22%;
  padding-left: 20px;
}

.leaderboard {
  padding-top: 15px;
}

.arcade-header {
  margin-top: 20px;
}

.title-text {
  opacity: .5;
  font-size: 100px;
  font-color: rbg(240, 20, 20);
}
